
section{
    height: 100vh;
}
.app-container {
    background-color: #acce8f;
    border: 5px solid #60061e;
    border-radius: 30px;
}
input {
    width: 80%;
    height: 10vh;
    border: 5px solid #07444a;
    border-radius: 30px;
    padding: 20px;
    
}


.logo-svg {
    width:150px;
}

.added-Items li {
    border-top: 3px solid #072d7a;
    padding: 10px 0px;
    color: #525187;

}



h5{
    float: right;
    color: #90091e;
}
p{
    font-size: 1.5em;
    font-weight: bold;
    color: #760014;
}






